[submodule "openmaptiles"]
	path = openmaptiles
	url = https://github.com/openmaptiles/openmaptiles.git
[submodule "tileserver-gl/tileserver-gl"]
	path = tileserver-gl/tileserver-gl
	url = https://github.com/maptiler/tileserver-gl.git
